////トップページのfaqセクション////

// 薄い青のぼかし
.circle-blur-light-blue {
  top: 100%;
  left: 29%;
  transform: translate(-50%, -50%);
  width: 26vw;
  height: 26vw;
  background: rgba(0, 140, 255, 0.8);
  filter: blur(100px);
  @include bp-m() {
    top: 43%;
    left: 6%;
    transform: none;
    width: 19.69vw;
    height: 19.69vw;
    filter: blur(200px);
  }
}

// Q&Aセクション
.qa-section {
  background-color: #0A2256;
  color: #EFEFEF; // 親に色を指定
  padding: 90px 0 85px;
  @include bp-m() {
    padding: 180px 0;
  }

  & .circle-arrow{
    margin-right: 17px;
    text-align: right;
    @include bp-m(){
      display: flex;
      margin-right: unset;
    }
  }

  .section-title{
    @include bp-m(){
      text-indent: -0.7em;
    }
  }

  & .qa-block-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0 17px;
    align-items: end;
    gap:0;

    @include bp-m() {
      flex-direction: unset;
      padding: 0 100px;
      gap: clamp(80px, 19vw, 523.5px);
    }
  }

  & .qa-right-column {
    width: 100%;
    margin-bottom: 40px;
    @include bp-m(){
      width: 56%;
      margin-bottom: 0;
    }
  }

  & .qa-image{
    width: 95vw;
    margin-bottom: 60px;
    @include bp-m(){
      width: 60vw;
      margin-bottom: 120px;
    }
  }

  & .qa-item {
    border-bottom: 1px solid #283551;

    .qa-question {
      font-family: 'Noto Sans JP';
      position: relative;
      display: block;
      width: 100%;
      text-align: left;
      letter-spacing: 0.04em;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      font-size: 15px;
      border: none;
      background: transparent;
      color: inherit; // 親の色に従う
      padding: 20px 35px  20px 0;
      padding-left: 1.5em;
      text-indent: -1.5em;    
      @include bp-m() {
        font-size: 16px;
        padding: 32px 35px 32px 0;

      }

      &::before {
        content: "Q";
        padding-right: 2%;
        font-weight: 500;
      }

      &::after {
        content: '';
        position: absolute;
        right: 12px;
        top: 50%;
        width: 10px;
        height: 10px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: translateY(-50%) rotate(45deg);
        transition: transform 0.3s ease;
      }
    }

    .qa-answer {
      font-family: 'Noto Sans JP';
      padding: 10px 0;
      font-size: 14px;
      font-weight: 400;
      background-color: #0A1836;
      padding: 12px 11px;
      letter-spacing: 0.04em; 
      margin: 0 7px 20px 11px;
      display: flex;
      @include bp-m() {
        font-size: 16px;
        padding:24px 25px;
        margin: 0 0 32px 25px;

      }

      &::before {
        content: "A";
        padding-right: 2%;
      }
    }

    &.open {

      .qa-question::after {
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }

  // Q&A 内の button を親の文字色に従わせる
  button,
  button * {
    color: inherit;
  }
  & .qa-inner{
    display: none;
  }
}

////faqのフォーム////

//ヘッダー//


  .page-qa.archive-header{
    position: relative;
    background-image: url('../images/bg/bg_qa_page-sp.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    width: 100%;
    aspect-ratio: 750 / 540; 
      @include bp-m(){
        background-image: url('../images/bg/bg_qa_page-pc.webp');
        width: 100%;
        aspect-ratio: 1920 / 540;  
        margin-bottom: 202px;
    }
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(3, 18, 31, 0.48);
      }
    
    & .archive-header-tx{
      width: 83.3vw;
      position: absolute;
      top: 87%;
      left: unset;
      right: 0;    
      @include bp-m(){
        width: 51.98vw;
        top: 82%;
        left: 5.2%;
        right: unset;    

      }
    }
    & .circle-blur-deep-blue{
      top: 103%;
      left: 71%;
      width: 52vw;
      height: 52vw;    
        @include bp-m{
          top: 98%;
          left: 9%;
          width: 19.69vw;
          height: 19.69vw;    
        }
      }
  }

  //中身//

.qa-containe{
  background-color: #0A1836;

  //入力ボックス背景設定
  .form-box{
    background-color: #0A2256;
    padding: 0 6.2vw;
    span{
      margin-bottom: 10px;
    }
    p{
      border-bottom: 1px solid #EFEFEF;
      padding: 10px 0 0;
        @include bp-m(){
        padding: 32px 0 0;
        }
    }
  }

}

.sec-qa{
  padding: 0 20px;
    @include bp-m(){
    padding:0;
    }
  .section-title{
    padding: 0 20px;
    @include bp-m(){
    padding:0 120px;
    }
  }
  .qa-info{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: unset;
    margin-bottom: 60px;
    padding: 0;

    @include bp-m(){
      font-size: 16px;
      letter-spacing: 0.64px;
      margin-bottom: 120px;
      padding: 0 120px;
    }
  }
  .contact-box{
    color: #EFEFEF;

  .form-box-start{
  padding-top: 40px;
  @include bp-m(){
    padding-top: 48px;

  }
}
  .form-box-end{
  padding-bottom: 50px;
  margin-bottom: 60px;
  @include bp-m(){
  padding-bottom: 80px;
  margin-bottom: 120px;
  
  }
  }
  .agree-label{
    color: #EFEFEF;
  }
  }
  /* 利用規約チェック全体を中央に */
  .wpcf7-form-control-wrap[data-name="agree"] {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include bp-m(){
    }
  }

  /* チェックボックス＋テキストを横並び＆中央揃え */
  .wpcf7-checkbox label {
    display: inline-flex;
    align-items: center;
    gap: 8px; /* □とテキストの間隔 */
  }

  .asterisk{
    font-size: 15px;
    font-family: "NotoSansCJKjp-Medium";
    font-weight: 500;
    color:#FF383C ;
    margin-bottom: unset;
    padding: unset;
    @include bp-m(){
      font-size: 16px;
      letter-spacing: 0.04em;
      margin-bottom: 40px;
      padding: 0 120px;
    }
  }


}



/* ----------------------------
   サンクスページ
----------------------------- */

.qa-thanks-containe{
  background-color: #0A1836;
  padding: 0 20px;
  @include bp-m(){
    padding: 0 110px;
  }

  .simple-header{
    margin-bottom: 110px;
    @include bp-m(){
      margin-bottom: 160px;
    }
  }
  .sec-contact-thanks {
    padding-bottom: 60px;
    @include bp-m(){
      padding-bottom: 120px;
    }
    .thanks-inner {
      color: #EFEFEF;
      padding-bottom: 60px;
      @include bp-m(){
        padding-bottom: 120px;
      }

    }
    .thanks-title{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 60px;
      text-align: center;
        @include bp-m(){
      font-size: 36px;
      margin-bottom: 120px;

      }
    }
    .thanks-message{
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 60px;
      display: block;
        @include bp-m(){
      font-size: 16px;
      margin-bottom: 120px;
      display: flex;
      justify-content: center;
    }
  }
    .thanks-notice{
      font-size: 12px;
      font-weight: 500;
      background-color: #0A2256;
      border: 1px solid #0A2256;
      color: #EFEFEF;
      padding: 20px;
      width: unset;
      letter-spacing: 0.4px;
      line-height: 1.6;
        @include bp-m(){
        font-size: 16px;
        padding: 42px 32px;
        width: 43.5vw;
        margin: auto;
        letter-spacing: 0.64px;

      }
    }
  } 

  //前に戻るボタン

  .btn-back {
    position: relative;
    display: block;
    width: 76.6vw;
    max-width: 300px;
    margin: 0 auto;
    padding: 14px 7vw;
    font-size: 14px;
    color: #EFEFEF;
    background-color: #496CCC;
    border: none;
    border-radius: 40px;
    cursor: pointer;

    @include bp-m() {
      font-size: 0.8vw;
      width: 21vw;
      max-width: unset;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 35px;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      background-image: url('../images/parts/arrow-back.png');
      background-size: contain;
      background-repeat: no-repeat;
        @include bp-m(){
          right: 2.1vw;
          width: 0.83vw;
          height: 0.89vw;
        }
    }
  }

}



