@font-face {
  font-family: "KozGoPr6N-Bold";
  src: url("../../assets/font/KozGoPr6N-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansCJKjp-Bold";
  src: url("../../assets/font/NotoSansCJKjp-Bold.woff") format("woff");
}
@font-face {
  font-family: "NotoSansCJKjp-Light";
  src: url("../../assets/font/NotoSansCJKjp-Light.woff") format("woff");
}
@font-face {
  font-family: "NotoSansCJKjp-Medium";
  src: url("../../assets/font/NotoSansCJKjp-Medium.woff") format("woff");
}
@font-face {
  font-family: "NotoSansCJKjp-Regular";
  src: url("../../assets/font/NotoSansCJKjp-Regular.woff") format("woff");
}
