.site-footer{
  background-color: #03121F;
  & .inner{
    @include bp-m(){
    }
  }
}

.footer-box{
  display: block;
  gap:50px;
  padding: 0 20px 75px;
  margin: auto;
  font-size:  clamp(14px, 4.2vw, 16px);  
    @include bp-m(){
    display: flex;
    padding-bottom: 112px;
    max-width: 1129px;
    padding: 0 0 112px 10.4%;
    margin: 0;
  }
  & a{
    transition: opacity 0.5s ease; 
      &:hover{
    opacity: 0.5;
    transition: 0.5s;

  }
  }
  & ul{
    column-gap: 35px;
    @include bp-m(){
      column-gap: unset;
    }
  }
  & li{
    font-family: 'Noto Sans JP';
    font-weight: 400;
    margin-top: 10px;
    @include bp-m(){
      margin-top: 20px;
    }
  }
}

.footer{
    &-name{
    font-family: meno-banner, serif;
    font-weight: 600;
    font-style: normal;
    color: #283551;
    letter-spacing: -0.08em;
    font-size: clamp(47px, 6.25vw, 120px);
    text-align: center;
    padding: 50px 0 47px 0;
    @include bp-m(){
      letter-spacing: -0.06em;
      text-align: unset;
      padding: 60px 0 80px 4.1% ;
    }
  }
  &-title{
  color: $text-orange;
  font-size:  clamp(16px, 5.3vw, 20px);  
  font-family:  'Pathway Gothic One';
  font-weight: 400;
  margin: 50px 0 40px;
  letter-spacing: 0.64px;
  @include bp-m(){
    letter-spacing: 0.8px;
    }
  }
}

.footer-nav-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  & li{
    font-size: 14px;
    @include bp-m(){
    font-size:16px;
    }
  }
  & li::before{
    content: "";
    border-top: 0.75px solid #FF8400;
    vertical-align: middle;
    display: inline-block;
    width: 12px;
    height: 0;
    margin-right: 12px;
    @include bp-m(){
      border-top: 1.5px solid #FF8400;
      width: 24px;
    }
  }
  & a{
  font-size:  clamp(14px, 4.2vw, 16px);  
  }
}

.footer-nav{
  &-1{
    flex: 2;
}
  &-2{
    flex: 1;
  }
  &-3{
  display: flex;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  @include bp-m(){
    display: block;
    }
  }
}

/* 左列（1〜5） */
.footer-nav-flex li:nth-child(1) { grid-column: 1; grid-row: 1; }
.footer-nav-flex li:nth-child(2) { grid-column: 1; grid-row: 2; }
.footer-nav-flex li:nth-child(3) { grid-column: 1; grid-row: 3; }
.footer-nav-flex li:nth-child(4) { grid-column: 1; grid-row: 4; }
.footer-nav-flex li:nth-child(5) { grid-column: 1; grid-row: 5; }

/* 右列（6〜） */
.footer-nav-flex li:nth-child(6) { grid-column: 2; grid-row: 1; }
.footer-nav-flex li:nth-child(7) { grid-column: 2; grid-row: 2; }
.footer-nav-flex li:nth-child(8) { grid-column: 2; grid-row: 3; }
.footer-nav-flex li:nth-child(9) { grid-column: 2; grid-row: 4; }


// .footer-nav-1,.footer-nav-2{
//   font-size:  clamp(14px, 4.2vw, 16px);  
// }

.footer-nav-3{
  & li{
    display: flex;
    font-family: "din-2014", sans-serif;
    font-weight: 400;
    @include bp-m (){
    }
  }
  & a{
    // font-size: clamp(15px, 5.3vw, 20px);  
    align-items: center;
    display: flex
;  }
  & img{
  width: 1em;
  height: 1em;  
  padding-right: 10px;
  @include bp-m(){
    padding-right: 20px;
  }
  }
}
