/* ハンバーガーアイコン */
.site-header {
  position:fixed;
  top: 1px;
  right: 2px;
  z-index: 9999;
  transition: opacity 0.5s ease; 

  @include bp-m(){
    top: 5px;
    right: 25px;
  }
    &:hover {
      opacity: 0.6;
    }

  .hamburger {
    width: 35px;
    height: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 28px 21px;
    @include bp-m(){
      width: 70px;
      height: 18px;
      padding: 39px 25px 25px 1.71vw;
    }

    span {
      display: block;
      width: 100%;
      height: 1px;
      background: #fff;
      transition: 0.3s ease;
      transform-origin: center;
    }

    &.active span:nth-child(1) {
      transform: translateY(9px) rotate(20deg);
      @include bp-m(){
        transform: translateY(9px) rotate(20deg);
      }
    }
    &.active span:nth-child(2) {
      transform: translateY(1px) rotate(-20deg);
      @include bp-m(){
        transform: translateY(-9px) rotate(-20deg);
      }
    }
  }
}


/* 右から出るメニュー（これは fixed のまま） */
.site-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100dvh;
  background-image: url('../images/bg/bg_release_sp.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  overscroll-behavior: contain;
  justify-content: flex-start;
  transition: right 0.6s cubic-bezier(1, 0, 0, 1) 0.2s;
  z-index: 999;
  @include bp-m(){
  background-image: url('../images/bg/bg_release_pc.webp');
  height: 100vh;
  justify-content: center;
  }
  a {
    color: #EFEFEF;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 0;
    @include bp-m(){
      font-size: 32px;
    }
  }
  .footer-contents{
    position: relative;
    width: 100%;
    @include bp-m(){
      height: 100%;
    }
    &::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  }
  & .footer-name{
      color: #EFEFEF;
      font-family: meno-banner, serif;
      font-weight: 600;
      font-size: 16px;
      margin-top: 31px;
      padding: 0 0 94px;
      text-align: left;
      z-index: 1;
      @include bp-m(){
        font-size: 32px;
        margin-top: 0;
        padding-bottom: 174px;
        width: 100%;
      }
  }
  .footer-box{
    flex-wrap: wrap;
    padding: 0;
    width: 95.2%;   
    gap:0;
    margin-right: 0;
    max-width: none;
    opacity: 0;
    position: relative;
    transition: all 0.3s linear 0s;
    z-index: 90;
    @include bp-m(){
      margin: 73px auto 0;
      width: 89.58%;
    }
    .footer-box__inner {
      @include bp-m(){
        display: flex;
        margin: 0 auto;
        max-width: 1130px;
        width: 100%;
      }
    }
  }
  & .footer-title{
    font-size: 16px;
    @include bp-m{
      font-size: 20px;
    }
  }
  & li{
    margin:0 0 15px;
    @include bp-m(){
      margin:0 0 20px;
    }
  }
  & li a{
  font-size: 16px;
  margin: 0;
  }
  & .footer-title{
    margin: 0 0 22px;
  }
  & .footer-nav-link{
    margin-bottom: 60px;
  }
  & .footer-nav-1,.footer-nav-2{
    margin-bottom: 60px;
    @include bp-m(){
      margin-bottom: unset;
    }
  }
  &.active {
    display: flex;
    right: 0;
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; 
    justify-content: flex-start;
    transition: right 0.6s cubic-bezier(1, 0, 0, 1) 0s;
    @include bp-m(){
      display: flex;
      flex-direction: column;
    }
    .footer-box{
      opacity: 1;
      transition: all 0.5s linear 0.75s;
    }
  } 
}

