


//名前だけのヘッダーの<div>

.simple-header{
  height: 45px;
  @include bp-m(){
    height: 90px;
  }
}

//名前だけのヘッダー固定ページ用（color: #03121F）

.simple-header-black{
  height: 45px;
  color: #03121F;
  @include bp-m(){
    height: 90px;
  }
}


//アーカイブ、シングル、ページのヘッダーの名前の<div>

.header-name{
    position: fixed;
    top: 22px;
    left: 5.2%;
    color: #FFFFFF;
    font-family: meno-banner, serif;
    font-weight: 600;
    font-size: 16px;
    left: 4.6%;
    z-index: 2;
    line-height: 94%;
      @include bp-m(){
        font-size: 1.25vw;
        top: 37px;
        left: 5.2%;

      }

}

.header-name{
  transition: opacity 0.5s ease; 
        &:hover {
      opacity: 0.6;
    }

}

.header-name.is-active{
  transition: opacity 0.5s ease; 
        &:hover {
      opacity: 0.6 !important;
    }
}



//ヘッダーぼかし

.header-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);


  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 70%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 70%,
    rgba(0,0,0,0) 100%
  );

  pointer-events: none;
  z-index: 2;
  @include bp-m(){
  height: 150px;
  }
}

/* トップだけ初期非表示にする */
.home .header-blur,
.home .header-name {
  opacity: 0;
  transition: opacity .4s ease;
  cursor: default;
  pointer-events: none;

}

/* KVを抜けたら表示 */
.header-blur.is-active,
.header-name.is-active {
  opacity: 1;
  z-index: 3;
  cursor: pointer;
pointer-events: auto;

}

.container-trigger {
  position: relative;
  width: 100%;
  height: 1px;
}

/* 横並びSNS */
.header-sns{
  display: flex;
  margin-top: 10px;
  align-items: center;
  @include bp-m(){
    margin-top: 30px;
  }

  & li{
    margin-right: 4.3vw;
    transition: opacity 0.5s ease; 

    @include bp-m(){
    margin-right: 1.6vw;
    }
      &:hover {
      opacity: 0.6;
    }

  }

  & img{
    display: block;
  }
  .x{
    width:4.5vw ;
    height: auto;
    @include bp-m(){
      width: 1.3vw;
      height: auto;
    }
  }
  .tiktok{
    width:4.8vw ;
    height: auto;
    @include bp-m(){
      width: 1.4vw;
      height: auto;
    }
  }
  .youtube{
    width:5.3vw ;
    height: auto;
    margin-right: 0;
    @include bp-m(){
      width: 1.6vw;
      height: auto;
    }
  }
}

