


//名前だけのヘッダーの<div>

.simple-header{
  height: 45px;
  @include bp-m(){
    height: 90px;
  }
}

//名前だけのヘッダー固定ページ用（color: #03121F）

.simple-header-black{
  height: 45px;
  color: #03121F;
  @include bp-m(){
    height: 90px;
  }
}


//アーカイブ、シングル、ページのヘッダーの名前の<div>

.header-name{
    position: fixed;
    top: 22px;
    left: 5.2%;
    color: #FFFFFF;
    font-family: meno-banner, serif;
    font-weight: 600;
    font-size: 16px;
    left: 4.6%;
    z-index: 2;
      @include bp-m(){
        font-size: 1.67vw;
        top: 37px;
        left: 5.2%;

      }
}


//ヘッダーぼかし

.header-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);


  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 70%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 70%,
    rgba(0,0,0,0) 100%
  );

  pointer-events: none;
  z-index: 1;
  @include bp-m(){
  height: 95px;
  }
}

