////共通アーカイブページヘッダー////

.archive-container,.single-container{
  background-color: #0A1836;
}

.news.archive-header{
  display: block !important;
  position: relative;
  background-image: url('../images/bg/bg_news_archive-sp.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  width: 100%;
  aspect-ratio: 750 / 540; 
    @include bp-m(){
      background-image: url('../images/bg/bg_news_archive-pc.webp');
      width: 100%;
      aspect-ratio: 1920 / 540;  
      margin-bottom: 202px;
  }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba(3, 18, 31, 0.48);
    }
  
  & .archive-header-tx{
    width: 99.05vw;
    position: absolute;
    top: 64%;
    left: unset;
    right: 0;    
    @include bp-m(){
      width: 73.39vw;
      top: 82%;
      left: 5.2%;
      right: unset;    

    }
  }
  & .circle-blur-deep-blue{
    top: 105%;
    left: 71%;
    width: 52vw;
    height: 52vw;    
      @include bp-m{
        top: 98%;
        left: 9%;
        width: 19.69vw;
        height: 19.69vw;    
      }
    }
}

//タグ表示


.archive-news{
  padding: 0 20px;
  @include bp-m(){
    padding: unset;
  }
  & .section-title{
    margin: 0 0 110px 0;
    @include bp-m{    
      margin: 0 0 216px 5.5%;
      }
    }
  & .news-tabs{
    display: flex;
    gap: 7px;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: hidden;
    white-space: nowrap;  // 折り返さない

    -webkit-overflow-scrolling: touch; // iOSなめらか
    scrollbar-width: none;             // Firefox
    padding: unset;               // スクロールバー逃がし
    justify-content: unset;
    @include bp-m(){
      gap: 1%;
      margin-bottom: 180px;
      padding:  0 120px 4px;   
      justify-content: center;
    }
    .news-tags{
      padding: 4px;
      @include bp-m(){
        padding: 8px 16px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      }
    }
    }
  & .news-tags{//ニュース一覧のタブ上のタグ
    background-color: #283551;
    color: #EFEFEF;
    border: 1px solid #283551;
    font-size: 12px;
    width: 90px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    @include bp-m(){
      font-size: 0.83vw;
      width: 8.7vw;
      height: auto;
    }
    &:hover{
      background-color:#0A1836 ;
      border: 1px solid #efefef;
    }
     &.active {
      background: #0A1836;
      color: #EFEFEF;
      border: 1px solid #EFEFEF ;

    }
  }
}

//投稿スタイル

.archive-news-inner {
  padding: unset;
  @include bp-m(){
    padding: 0 100px;
  }
  .inner-flex {
    display: flex;
    gap: 20px; // サムネと本文の間
    @include bp-m(){
      gap: 40px;
    }
  }

  ul{
    margin-bottom: 60px;
    @include bp-m(){
      margin-bottom: 120px;
    }
  }

  li{
    border-bottom: 1px solid #283551;
    padding: 20px 10px;
    transition: background-color 0.5s;
    @include bp-m(){
      padding: 40px 20px;
    }
    &:hover{
    background-color: #03121F80;//ホバーのタグの背景
    .news-tags {//一覧のニュースタグ
      color: #efefef;
      transition: background-color 0.5s, color 0.5s; // 滑らかに
      background-color: #0a1836;
    }

    
    }
  }

  .news-thumbnail {
    width: 90px;
    height: 66px;
    flex-shrink: 0;
    position: relative;
    @include bp-m{
      width: 170px;
      height: 127px; 
    }
   &::before{
      backdrop-filter: blur(4px);
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      position: relative;
    z-index: 1;
    }
  }
  .img-blur{
    position: relative;
    width: 90px;
    @include bp-m(){
    }
  }

  .news-body {
    display: flex;
    flex-direction: column;
  }

  .date-tag-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 14px;
    @include bp-m(){
      gap: 40px;
      margin-bottom: 26px;
    }
  }
  .news-date{
    font-size: 12px;
    font-weight: 400;
    color: #C4C4C4;
    @include bp-m(){
      font-size: 20px;
    }
  }
  //ニュース一覧のタグ
  .news-tags{
    font-size: 10px;
    color: #EFEFEF;
    background-color: #0A1836;
    width: 95px;
    height: 17px;
    transition: background-color 0.5s, color 0.5s;
    border: 1px solid #c9c9c9;
    @include bp-m(){
      font-size: 12px;
      width: 126px;
      height: 24px;
    }

    &:hover {
      background-color:#0A1836;
      color: #EFEFEF;

    }


  }
  .post-content{
    font-size: 12px;
    @include bp-m(){
      font-size: 16px;
    }
  }
}

//ページネーション
#paginate{
  padding-bottom: 60px;
  @include bp-m(){
    padding-bottom: 120px;
  }
}

////シングルページ////

.sec-news-single{
  padding: 60px 20px;
  @include bp-m(){
    padding: 120px 100px;
  }

  .news-item-flex{
    gap:20px;
    align-items: center;
    @include bp-m(){
      gap: 40px;
    }
  }

  .news-date{
    font-size: 12px;
    color: #BABABA;
    font-family: meno-banner, serif;
    font-weight: 400;
    letter-spacing: 0.96;
    @include bp-m(){
      font-size: 20px;
      color: #C4C4C4;
      line-height: 0.8;
    }
  }

  .news-tags{
    font-size: 10px;
    line-height: 1.8;
    width: 80px;
    height: 17px;
    background-color: #0A1836;
    color: #efefef;
    border: 1px solid #efefef;
    @include bp-m{
      font-size: 12px;
      width: 126px;
      height: 24px;
    }
  }

  .news-title{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    @include bp-m(){
      font-size: 30px;
      letter-spacing: 1.2px;
    }
  }

  .news-thumbnail{
    width: 339px;
    height: 254px;
    flex-shrink: 0;
    margin-bottom: 40px;
      @include bp-m(){
      width: 740px;
      height: 555px;
      margin-bottom: 80px;
      }
      img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      }

  }

  .news-text{
    letter-spacing:unset;
    font-size: 10px;
    font-weight: 500;
    @include bp-m(){
    letter-spacing: 0.64px;
    font-size: 16px;
    font-weight: 700;
    }
    & p{
      margin-bottom: 15px;
      @include bp-m(){
        margin-top: 30px;
      }
    }
  }
}

.single-news .sec-news-single .single-news {
  a {
    border-bottom: 1px solid #EFEFEF;
    transition: opacity 0.5s ease; 
    &:hover {
      opacity: 0.6;
    }
  }
}


 /* =========================
     SNS SHARE
  ========================= */
  .sns-share {
    display: block;
    gap: 16px;
    margin-top: 60px;

    @include bp-m() {
      display: flex;
      gap: 24px;
      margin-top: 120px;
      justify-content: center;
    }

    .sns-share-item{
      text-align: center;
      margin: 0 auto 20px;
      display: table;
      @include bp-m(){
        margin: 0;
        display: unset;
      }
    }
  }

  .sns-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 7.67vw;
    background-color: #0A1836;
    border: 2px solid #283551;
    border-radius: 30px;

    color: #efefef;
    text-decoration: none;
    cursor: pointer;
    flex-shrink: 0;
    box-sizing: border-box;
    /* buttonリセット */
    appearance: none;
    background: #0A1836;
    width: 250px;
    height: 45px;
    @include bp-m{
      width: 17.7vw;
      height: 60px;
      padding: 0 4.69vw;
      }


    img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      padding-right: 1.9vw;

      @include bp-m(){
        width: 30px;
        height: 30px;
        padding-right: 0.2vw;
        }
    }

    .text {
      flex: 1;
      margin-left: 10px;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      white-space: nowrap;
    }

    .arrow {
      margin-left: 12px;
      font-size: 14px;
      line-height: 1;
    }

    &:hover {
      opacity: 0.6;
      transition: 0.5s;
    }

    @include bp-m() {
      .text {
        font-size: 0.83vw;
      }

      .arrow {
        font-size: 16px;
      }
    }
  }

.sns-share-chevron {
  position: relative;
  width: 10px;
  height: 10px;
  margin-left: 12px;
  flex-shrink: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 2px;
    background-color: #EFEFEF;
    transform-origin: right center;
  }

  /* 上の線 */
  &::before {
    transform: translateY(-50%) rotate(-45deg);
  }

  /* 下の線 */
  &::after {
    transform: translateY(-50%) rotate(45deg);
  }
}

/* Backの矢印ボタン */
.circle-arrow--left{
  margin-top: 60px;
  text-align: center;
  @include bp-m(){
    margin-top: 120px;
  }
  .label{
    font-size: 18px;
    font-family: 'Pathway Gothic One';
    @include bp-m(){
      font-size: 36px;
    }
  }
  a{
    gap:20px;
    @include bp-m(){
      gap:40px;
    }
    }
}

//ページネーション
.news-pagination{
  .nav-links {
      width: 64vw;
      margin: auto;
      display: flex;
      padding-bottom: 60px;
      gap:8vw;
      @include bp-m(){
        width: 31.9vw;
        gap:3.1vw;
        padding-bottom: 120px;
      }
  }  
  .page-numbers{
      font-family: meno-banner, serif;
      font-size: 18px;
      font-weight: 400;
      @include bp-m(){
        font-size: 30px;
      }  
    }
  span.page-numbers.current {
      color: #ff8400;
  }
}

