@charset "UTF-8";

/* ******************************************************* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* ******************************************************* common */
.opa:hover {
	opacity: 0.7;
	filter: alpha(opacity=70%);
	-ms-filter: "alpha(opacity=70%)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
}

.al {
	color: #0564D0;
	text-decoration: underline;
}

.disable {
	cursor: default;
}

rt {
	font-size: 10px;
	color: #ccc;
}