@charset "UTF-8";
/* ******************************************************* environment */
html, body {
	width: 100%;
	height: 100%;
	max-width: 640px;
	font-size: 15px;
	line-height: 25px;
	font-family: "Meiryo", "メイリオ", "Hiragino Kaku Gothic Pro W6", "ヒラギノ角ゴ ProN W6", "ＭＳ Ｐ明朝", "Osaka－等幅", "Osaka-Mono", "sans-serif";
	color: #000;
	-webkit-text-size-adjust: 100%;
}

.br {
	display: none;
}

.pc {
	display: none !important;
}
/* ******************************************************* 404 */
#sec_404 {
	padding: 40px 20px 80px;
	width: 980px;
	margin: 80px auto;
	box-sizing: border-box;
}
/* ******************************************************* common */
h2 {
	font-size: 20px;
	font-weight: bold;
}
#page_top {
    text-align: right;
    right: 20px;
    position: fixed;
    bottom: 20px;
}
.page-title {
	font-size: 26px;
	font-weight: bold;
	padding-top: 10px;
}
.breadcrumb {
	font-size: 11px;
	margin: 20px 0 20px;
}
.breadcrumb a {
    border-bottom: 1px solid #4E5869;
    color: #4E5869;
    display: inline-block;
    vertical-align: bottom;
}
.section-title {
	font-size: 20px;
  font-weight: bold;
}
.opa {
	text-decoration: none;
  color: #4E5869;
}
.opa:hover {
	opacity: 0.6;
	filter: alpha(opacity=60%);
	-ms-filter: "alpha(opacity=60%)";
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
}
#top-twitter {
	width: 80%;
	margin: 40px 10% 0;
}
#twitter-widget-1 {
	padding-left: 10px;
}
#spMenuBtn {
  position: absolute;
  right: 10px;
  top: 17px;
  z-index: 200;
}
#header-right #spMenuBtn img {
  height: 30px;
}
.menu-btn {
	display: none;
}
.menu-btn.on {
	display: block;
}
#h_menuList {
  text-align: center;
}
.h_menuList_item {
  margin: 20px 0;
  position: relative;
  text-align: center;
}
.h_menuList_item_name-jap {
  font-size: 1.1rem;
  letter-spacing: 0;
}
.h_subMenuList {
  background-color: rgba(200, 200, 200, 0.9);
}
.h_subMenuList_item {
  padding-bottom: 20px;
}
.h_subMenuList_item:first-child {
  padding-top: 20px;
}
/* ******************************************************* header */
header {
  background-color: #fff;
}
#header {
	position: relative;
	padding-top: 5px;
}

#logo-area {
	width: 68%;
	float: left;
}
#logo {
	width: 30%;
	margin-right: 15%;
	margin-left: 5%;
	float: left;
}
#logo img {
	height: auto;
	width: 100%;
}
.sp {
	display: block;
	float: left;
}
#logo-ap-text {
	float: right;
	width: 50%;
}
#logo-ap-text img {
	width: 100%;
  height: auto;
	margin-top: 4%;
}
#header-sns {
	margin-top: 13px;
  margin-left: 30%;
}
#header-sns img {
	height: auto;
  width: 37%;
}
#header-right {
	float: right;
	width: 32%;
}
#sp-menu {
	display: none !important;
}
nav {
	  background-color: rgba(255, 255, 255, 0.9);
	  display: none;
	  padding: 10px 0;
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 100;
}
#h-nav {
  width: 100%;
  margin: 0 auto;
	font-weight: bold;
}
.h-nav-list {
	text-align: center;
	font-size: 12px;
}
header .h-nav-list a {
	display: block;
	padding: 15px 0;
	color: #660000;
}
#headline-news {
	padding: 0px;
  height: 15px;
  width: 100%;
	margin: 10px auto 0;
  text-align: left;
	height: 25px;
}
#headline {
    background-color: #9BC133;
    width: 20%;
		height: 30px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 5px 2%;
    float: left;
		line-height: 16px;
}
main {
	margin: 0 auto;
}
#news-slide {
	position:relative;
	background-color: #000;
	width: 76%;
	height: 40px;
	color: #fff;
	overflow: hidden;
}
#news-slide li {
	position:absolute;
  top:0;
	float: right;
	width: 100%;
}
#news-slide a {
	background-color: #000;
	color: #fff;
	display: block;
	width: 98%;
	padding: 5px 1%;
	font-size: 13px;
	line-height: 16px;

}
#news-slide li .post-content {
	height: 30px;
	width: 100%;
	overflow: hidden;
}
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

/* ******************************************************* footer */
footer {
	width: 100%;
}
#f-nav {
	background-color: #C9C9CA;
	padding: 20px 0;
}
#f-nav ul {
	width: 90%;
	margin: 0 auto;
}
#f-nav .h-nav-list {
	width: 33%;
	padding: 10px 0;
	float: left;
}
#f-copyright {
	padding: 30px 0;
	font-size: 12px;
	text-align: center;
	background-color: #F4F4F4;
}



/* ******************************************************* Top */
#sec-top {
  background-color: #fff;
}
#main-image {
	width: 100%;
	margin: 0 auto;
	padding-top: 0;
}
#main-image img {
	width: 100%;
	margin-top: 20px;
}
#top_banner {
    width: 100%;
		margin: 0 auto;
		padding-top: 20px;
}
#top_banner ul {
	width: 92%;
	margin: 0 4%;
}
#top_banner li:first-child {
    margin-left: 0;
}
#top_banner li {
    float: left;
    width: 100%;
    margin-left: 0;
		margin-bottom: 20px;
}
#top_banner li img {
	width: 100%;
	border: solid 1px #4E5869;
}
#top-news h2 {
	margin-left: 20px;
}
#top-news h3 {
	font-size: 14px;
  font-weight: bold;
  color: #f39700;
}

#top-content {
	background-color: #F4F4F4;
	padding-bottom: 50px;
}
#top-news {
	width: 100%;
	margin: 50px auto 0;
}
#top-news-list {
	margin: 30px 20px 0;
	padding-bottom: 50px;
}
#top-news-list li {
  border-bottom: dashed 1px #999;
  margin-bottom: 15px;
}
#top-news-list li p {
	margin-bottom: 15px;
}
#top-news	a {
  color: #414958;
	font-size: 12px;
}
#top-news	a:hover {
	text-decoration:none;
}
#top-news .news-list {
	margin: 4%;
}
#top-news .news-list li {
	margin-bottom: 20px;
}
#news-more {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
/* ******************************************************* News */
#sec-news {
	margin: 20px 10px;
}
#archive-news {
	margin: 25px 0 60px;
}
#archive-news li {
	margin-bottom: 20px;
}
#archive-news li .post-content {
	font-size: 12px;
}
.post-head {
	float: left;
	padding-right: 10px;
	font-size: 14px;
  font-weight: bold;
  color: #f39700;
}
#sec-news-single {

  margin: 20px 10px;
}
#single-news {
	margin: 30px 0;
}
#news {
	margin: 30px 0;
}
.news-list {
	font-size: 14px;
	margin-bottom: 10px;
}
#news-title {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}
#news-text {
	font-size: 14px;
	padding-top: 20px;
	line-height: 1.5;
}
#news-date {
	font-size: 16px;
  font-weight: bold;
  color: #f39700;
}
.news-date {
	font-size: 16px;
  font-weight: bold;
  color: #f39700;
	float: none;
	padding-right: 10px;
}
#paginate {
	text-align: center;
	padding-top: 0;
}
#paginate .page-numbers {
	padding: 3px 5px;
}
#paginate .current {
	border-bottom: 1px #4f626d solid;
}
#sec-news #news-twitter {
    width: 80%;
    margin: 40px 10% 0;
}
/* ******************************************************* profile */
#sec-profile {
	margin: 20px 10px;
}
.profile-banner img {
	width: 100%;
}
#profile-content {
    /*background-color: #fff;*/
    font-size: 14px;
    line-height: 1.5;
		padding-top: 250px;
}
#profile-content::before {
	background: url(../images/ono_profile_main.png) no-repeat left top;
	background-size: 100% auto;
	display: block;
	position: fixed;
	top: 240px;
	left: 0;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
}
#profile-content dl {
	line-height: 2;
}
#profile-content dt {
	font-weight: bold;
	width: 100px;
	float: left;
}
#profile-content dd {

}
#profile-History h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
#profile-History {
	margin: 40px auto 40px;
}
.history-list {
	margin-bottom: 40px;
}
.product-list {
	width: 90%;
	background:rgba(128,128,128,0.3);
	border-radius: 5px;        /* CSS3草案 */
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px;   /* Firefox用 */
	padding: 20px 5%;
}
.product-image {
	width: 30%;
	float: left;
	margin-right: 20px;
}
.product-image img {
	width: 100%
}
.product-text {
	font-size: 16px;
  line-height: 1.8;
}
.product-name {
	font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.product-name span {
	font-size: 13px;
}

/* ******************************************************* discography */
#sec-discography {
	margin: 20px 10px;
}

#discography-content {
	margin-top: 23px;
	background-color: #fff;
}

#discography-content h3 {
	font-family: "メイリオ", Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #f39700;
    line-height: 1em;
    border-bottom: solid 1px #f39700;
}
#discography-content #single {
  padding: 0;
	display:flex;
	flex-wrap: wrap;
}
#discography-content #single li {
  float: left;
	width: 47%;
	padding-bottom: 30px;
}
#discography-content #album {
	padding: 0;
	display:flex;
	flex-wrap: wrap;
}
#discography-content #album li {
  float: left;
	width: 47%;
	padding-bottom: 30px;
}

#discography-content #single li:nth-child(odd) {
	padding-right: 5%;
}
#discography-content #album li:nth-child(odd) {
  padding-right: 5%;
}
.jacket_calam {
	width: 100%;
}
.jacket {
	width: 50%;
	margin-bottom: 10px;
}
.jacket img {
	width: 100%;
	border: solid 1px #000;
}
.jacket_text h4 {
	font-size: 16px;
	padding-bottom: 10px;
	line-height: 1.2;
	font-weight: bold;
}
.jacket_text h4 span {
	font-size: 11px;
}
.jacket_text p {
	font-size: 13px;
	padding-bottom: 10px;
}
#sec-discography #discography-content .jacket_text ul {
	padding-left: 24px;
	list-style-type: decimal;
}

#discography-content #single li .jacket_text li {
	font-size: 13px;
	float: none;
	height: auto;
	width: 100%;
	padding-bottom: 0;
}

#discography-content #album li .jacket_text li {
	font-size: 13px;
	float: none;
	height: auto;
	width: 100%;
	padding-bottom: 0;
}
.disc-name {
	margin-top: 20px;
}

/* ******************************************************* fanclub */
#sec-fanclub {
	margin: 20px 10px;
}
#sec-fanclub table {
	width: 100%;
}
#sec-fanclub input {
	width: 100%;
	height: 28px;
}
#fanclub-content{
	font-size: 14px;
	margin: 23px auto 40px;
  padding: 0;
	background-color: #fff;
	width: 100%;
}
#sec-fanclub .underline {
	text-decoration: underline;
}
#fanclub-content p {
	line-height: 1.5;
	margin-bottom: 14px;
}
#fanclub-content ul {
	margin: 14px 0;
}
#fanclub-content li {
	line-height: 1.5;
}
#fanclub-content tbody {
	width: 100%;
}
#fanclub-content tr {
	width: 100%;
}
#fanclub-content td {
	width: 100%;
	display: block;
}
#fanclub-content td form {
	width: 100%;
}
#fanclub-notes {
	color: #FF0000;
	font-size: 12px;
}
#mail-set {
	margin-top: 40px;
}
#fanclub-content .mail-item {
	font-size: 14px;
	font-weight: bold;
}
#fanclub-content table {
	margin-top: 20px;
}
.mail-input {
	display: block;
	float: none;
}
#fanclub-content .fanclub-btn {
	font-size: 14px;
	padding: 2px 10px;
	cursor: pointer;
	width: 30%;
	margin: 10px auto 0;
	display: block;
}
#mail-text {
	padding: 5px 0 30px;
}
#fanclub-content .opa:hover {
	text-decoration: none;
  color: #4E5869;
}
#kiyaku-wrap {
	width: 100%;
	height:200px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	display: inline-block;
	border:1px solid #c9c9c9;
	margin-bottom: 40px;
}
#kiyaku-wrap::-webkit-scrollbar {
  width: 3px;
}
#kiyaku-wrap::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #eee;
}
#kiyaku-wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #666;
}
/* ******************************************************* kiyaku */
#sec-kiyaku {
	padding: 10px;
	font-size: 14px;
	line-height: 1.5;
}
#kiyaku-list {
	margin: 40px 0;
}
.kiyaku-item {
	font-weight: bold;
	margin-bottom: 10px;
}
.kiyaku-details {
	margin-bottom: 30px;
}
.kiyaku-details ol {
	margin: 10px 0;
	padding-left: 2em;
}
.kiyaku-details li {
	list-style: decimal;
}
/* ******************************************************* carrier-set */
#sec-carrier-set {
	margin: 20px 10px;
	font-size: 14px;
	line-height: 1.5;
}
#sec-carrier-set h3 {
	margin: 20px 0;
	font-weight: bold;
	font-size: 20px;
}
#sec-carrier-set h4 {
	font-size: 14px;
}
#sec-carrier-set ul {
	margin: 10px 0 20px;
}
#sec-carrier-set li {
	padding-left: 2em;
  text-indent: -2em;
}
#carrier-set-detail {
	margin: 40px 0;
}
#sec-carrier-set .carrier-list {
	margin: 20px 0 40px;
}
#carrier-set-content {
	width: 100%;
	word-break: break-all;
}
/* ******************************************************* contact */
#sec-contact {
	margin: 20px 10px;
}
#contact-content {
	margin-top: 20px;
}
#form-required {
	margin-bottom: 20px;
}
#sec-contact-thanks {
	margin: 0 2% 40px;
}
/* ******************************************************* shop */
#sec-shop {
	width: 100%;
}
#shop-head {
	background-size: 100% auto;
  width: 100%;
	height: 155px;
}
#shop-head ul {
	margin: 130px 1% 20px;
	width: 98%;
}
#sec-shop #mainContent ul li {
	margin-bottom: 40px;
	position: relative;
	padding-top: 50px;
}
#sec-shop #mainContent ul li img {
	float: none;
	width: 100%;
}
#sec-shop #mainContent .list_right {
	width: 100%;
}
#sec-shop #mainContent .list_right h2 {
	position: absolute;
	line-height: 1.2;
	height: auto;
	top: 0;
	min-height: 25px;
}
#sec-shop #gwf img {
	width: 100%;
}
#sec-shop #ilove img {
	width: 100%;
}
#shop-footer {
	width: 100%;
}
#official-home {
	width: 31%;
	margin-right: 1%;
}
#official-home img {
	width: 100%;
}
#form {
	width: 24%;
	margin-right: 1%;
}
#form img {
	width: 100%;
}
#acton-sct {
	width: 41%;
}
#acton-sct img {
	width: 100%;
}
/* ******************************************************* acton-sct */
#sec-acton-sct {
	width: 100%;
}
/* ******************************************************* privacy */
#sec-privacy {
	margin: 50px 10px;
}
#privacy-content {
	font-size: 14px;
	margin: 23px auto 40px;
  padding: 0;
	background-color: #fff;
}
#privacy-description {
	margin: 30px 0;
}
#privacy-document dt {
	margin-bottom: 5px;
}
#privacy-document dd {
	margin-bottom: 20px;
	padding-left: 18px;
}
#privacy-document .lower-alpha {
	margin: 14px 0;
	list-style: decimal;
	padding-left: 13px;
}
#contact-point {
	margin: 10px 0;
}
/* ******************************************************* special-page */
#sec-special {
	margin: 10px 2% 50px;
}
#special-nav-wrap {
	width: 100%;
}
#special-nav li {
 width: 25%;
 float: left;
}
#sec-special .page-title {
	margin: 20px auto 0;
}
#sec-special .page-title img {
	width: 100%;
}
#special-page-content {
	margin: 50px 0;
}
#album-introduction {
	width: 100%;
}
#album-title {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
#album-title span {
	font-size: 16px;
	padding-left: 5px;
}
#album-code {
	margin-bottom: 10px;
}
#album-code dt {
	background-color: #ff9200;
	color: #fff;
	float: left;
	padding: 3px;
	font-size: 12px;
	margin-right: 20px;
}
#album-code dd {
	padding-top: 5px;
	font-size: 12px;
}
#album-overview {
	margin: 20px 0 30px;
	font-size: 14px;
	line-height: 1.5
}
#special-page-img  {
	float: none;
	width: 100%;
	margin: 40px auto;
}
#special-page-img .vs-jacket {
	margin: 0 auto 50px;
	width: 250px;
	display: block;
}
#special-page-img .banner {
	width: 200px;
	margin: 0 auto;
}
#special-page-img .banner img {
	width: 200px;
	margin-bottom: 10px;
	border: 1px solid #000;
}
#special-page-text {
	width: 100%;
	float: none;
}
#special-page-text h3 {
	font-size: 40px;
	font-weight: bold;
  margin-bottom: 20px;
}
#special-page-text h3 span {
	font-size: 16px;
	padding-left: 5px;
}
.album-list {
	margin-bottom: 40px;
}
#special-page-text p {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.album-list li {
	font-size: 12px;
	line-height: 1.8;
	margin-bottom: 6px;
}
.bonus {
	margin-top: 20px;
	margin-bottom: 0;
}
.movie-content {
	width: 100%;
}
.movie-content iframe {
	width: 100%;
	height: 250px;
}
#arrange {
	margin-top: 30px;
}
#arrange label {
    display: block;
    line-height: 1;
    cursor :pointer;
		padding-left: 10px;
}
#arrange input {
    display: none;
}
#arrange-content {
	max-height: 0;
    overflow-y: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#arrange-content:checked ~ #link-arrange-content p {
	max-height: 2500px;
	opacity: 1;
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
}
#link-arrange-content p {
	max-height: 0;
	overflow-y: hidden;
	font-size: 12px;
	font-weight:normal;
}
#link-arrange-content a {
	display: block;
  text-decoration: none;
  line-height: 1.8;
}
#tour-content {
	border: solid 1px #C0C0C0;
	padding: 30px 5%;
	font-size: 14px;
	position: relative;
	z-index: 1;
}

#tour-title h3 {
	text-align: center;
	width: 100%;
}
#tour-title h3 img {
	width: 100%;
}
#tour-title p {
	text-align: center;
	line-height: 1.5;
	margin: 20px auto 30px;
}
.tour-info {
	margin-bottom: 40px;
	line-height: 1.5;
}
.tour-info h4 {
	font-weight: bold;
}
.tour-info .tour-schedule li {
	margin-bottom: 40px;
}
.tour-date {
	font-weight: bold;
}
.color-red a:visited {
	color: red;
	font-weight: bold;
  font-size: 14px;
}
.color-red a:link {
	color: red;
	font-weight: bold;
  font-size: 14px;
}
#tour-movie3 h4 {
	font-weight: bold;
	text-align: center;
	margin: 10px auto;
}
#tour-movie3 video {
	width: 100%;
}
#tour-coment {
	margin: 0 2% 30px;
	width: 100%;
}
#tour-coment video {
	width: 100%;
}
#official-precedence {
	border: 1px solid #A9A9A9;
	padding: 10px;
	margin-bottom: 40px;
}
#official-precedence h4 {
	margin-bottom: 0;
	font-weight: bold;
}
#official-precedence p {
	margin-top: 0;
	margin-bottom: 14px;
}
#precedence-title {
	font-weight: bold;
  font-size: 16px;
	margin-bottom: 16px;
}
#top-slider {
	width: 980px;
	margin: 0 auto;
}
#tour-link {
	padding-top: 40px;
}
#album-info {
	font-size: 14px;
	margin: 20px 0;
	border: solid 1px #C0C0C0;
	padding: 10px 4%;
}
#album-info h3 {
	font-size: 22px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 8px;
}
#album-info li {
	margin-bottom: 10px;
	line-height: 1.2;
}
#arrange {
	font-size: 12px;
}
#trailer-movie {
	width: 100%;
	margin: 30px auto 50px;
}
#trailer-movie iframe {
	width: 100%;
}
#music-video {
	width: 100%;
	margin: 30px auto 50px;
}
#music-video iframe {
	width: 100%;
}
#trailer-movie p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#music-video p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#tour-coment p {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#tour-photo {
	margin: 60px auto 30px;
	width: 100%;
}
#tour-photo h4 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}
.img-guard{
position:relative;
width: 100%;
height: auto;
}
.guard-nopic{
position:absolute;
display:block;
width:100%;
height:100%;
background: url(../images/special-page/guard.png) no-repeat left top;
}
.tour-photo-img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.tour-text-svg {
	display: block;
	width: 200%;
	margin: -380px 0 0 -50%;
}
/* ******************************************************* ticket */
#sec-ticket {
	width: 100%;
	margin: 10px 0 50px;
}
#sec-ticket .page-title {
	padding: 0 2%;
	font-size: 22px;
}
#sec-ticket h2 {
	padding-bottom: 20px;
}
#ticket-content h3 {
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 16px;
}
#ticket-content {
	font-size: 14px;
  margin: 23px 2% 40px;
  padding: 0;
  background-color: #fff;
}
.ticket-contents-li {
	margin-bottom: 40px;
	line-height: 2;
}
.ticket-contents-li li {
	padding-bottom: 1em;
}
.ticket-explain{
	padding: 0 1em;
}

.ticket-contents-li dt {
}
.ticket-contents-li dd {
	padding-bottom: 1em;
}
#sec-ticket-thanks {
	margin: 0 2% 40px;
}

/* ******************************************************* project-page */
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
