@charset "utf-8";
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* 複数の異なるブラウザの初期設定値に対応するため、body エレメントのマージンと余白を 0 にすることをお勧めします */
	padding: 0;
	text-align: center; /* これにより、IE 5* ブラウザではコンテナが中央揃えになります。そして、テキストは、#container セレクタの初期設定である左揃えに設定されます */
	color: #000000;
	background-attachment: scroll;
	background-image: url(../images/netshop/bg.jpg);
	background-repeat: repeat;
	height: auto;
	width: auto;
}
#sec-shop {
	width: 780px;
	margin: 0 auto; /* 自動マージン（幅と連動）により、ページが中央揃えになります */
	border: 1px none #000000;
	text-align: left; /* この設定は body エレメントの text-align: center より優先されます。 */
	background-attachment: scroll;
	background-color: #FFFFFF;

}

#shop-head {
	background-attachment: scroll;
	background-image: url(../images/netshop/title_03_02.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 317px;
	width: 780px;
	background-color: #FFFFFF;
}
#shop-head ul {
	list-style-type: none;
	clear: both;
	float: right;
	margin-top: 220px;
	margin-bottom: 70px;
}
#shop-head ul li {
	float: left;
}

#sec-shop #mainContent {
	padding: 0 2%;
	width: 96%;
	height: auto;
}
#sec-shop #mainContent ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style-position: outside;
}
#sec-shop #mainContent ul li {
	margin: 20px 0;
	padding: 0px;
	list-style-position: outside;
	list-style-type: none;
}

#sec-shop #mainContent ul li img {
	padding: 0px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: auto;
	width: auto;
}
#sec-shop #mainContent .list_right   {
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
	list-style-type: none;
	float: left;
	width: 494px;
}
#sec-shop #mainContent .list_right .description {
	font-size: 10px;
	line-height: 16px;
	color: #999999;
}
#sec-shop #mainContent .list_right  p {
	font-size: 12px;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
}
#sec-shop  #mainContent .list_right  .bottom-text {
	clear: both;
}
#sec-shop #mainContent .list_right  table {
	font-size: 10px;
}

#sec-shop #mainContent ul li H2 {
	font-size: 14px;
	font-weight: bold;
	/* border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #000000; */
	background-attachment: scroll;
	background-image: url(../images/netshop/title_mark.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 30px;
	padding-left: 9%;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 91%;
}
#sec-shop  #mainContent  .list_right  img {
	padding: 0px;
	height: 93px;
	width: 115px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}




#shop-footer {
	background-attachment: scroll;
	background-image: url(../images/netshop/footer.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 135px;
	width: 780px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#shop-footer p {
	font-size: 10px;
	line-height: 12px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.fltrt { /* このクラスは、ページ上でフローティングエレメントを右側に配置するのに使用できます。プローティングエレメントは、ページ上でその横に配置されるエレメントの前に配置される必要があります。 */
	float: right;
	margin-left: 8px;
}
.fltlft { /* このクラスは、ページ上でフローティングエレメントを左側に配置するのに使用できます */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* このクラスは、div またはブレークエレメントに適用される必要があり、また、フローティングエレメントが完全に含まれているコンテナの末尾の直前にある最後のエレメントである必要があります */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.blinking {
	font-size: 10px;
	line-height: 12px;
	color: #999999;
	background-color: #f00;
	color: #fff !important;
	padding: 2px;
	margin-left: 10px;
	box-sizing: border-box;
    -webkit-animation:blink 1s ease-in-out infinite alternate;
    -moz-animation:blink 1s ease-in-out infinite alternate;
    animation:blink 1s ease-in-out infinite alternate;
}
.bnr {
	display: block;
	margin: 20px auto;
	text-align: center;
}
.sold-out-title {
	text-decoration: line-through;
}
.sold-out {
	color: #f00;
	font-size: 15px;
}
.opa:hover {
	opacity: .5;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
/* privacy-policy */
#privacy{
	font-size: 14px;
	line-height: 20px;
	padding: 0 40px 40px 40px;
}
#privacy h2 {
	background-image: none;
	font-size: 26px;
}
#privacy-description {
	margin-top: 40px;
}

#privacyList {
  list-style-type: decimal;
  margin-top: 20px;
}
.privacyList_item {
  margin-top: 20px;
}
.privacyList_item:first-child {
  margin-top: 0;
}
.privacyList-sub1 {
  list-style-type: lower-alpha;
}
#sec-shop #mainContent ul li {
border-bottom-width: 1px;
border-bottom-style: dashed;
border-bottom-color: #000000;
padding-bottom: 20px;
margin-bottom: 40px;
}
.other {
	font-size: 30px;
}
